<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Stapler App</title>
  </head>
  <body>
    <form action ="/login" method="get">
    <button type="logout">Logout</button>
    </form>
    <h1>{{username}}, this is MY Stapler.</h1>
    <h4>Get your own.</h4>
    <img src="https://media.giphy.com/media/3o84U5xPhrn42WgBJC/giphy.gif" alt="Stapler">
    <script src="main.js"></script>
  </body>
</html>
