<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome To My Stapler App {{username}}!</h1>
    <img src="https://media.giphy.com/media/3o84U5xPhrn42WgBJC/giphy.gif" alt="Stapler">
    <script src="main.js"></script>
  </body>
</html>
