<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Please login</h1>
      <img src="https://media.giphy.com/media/3owyoUHuSSqDMEzVRu/giphy.gif" alt="Office Space">
      <h4>"Uh...yeah...I'm gonna need you to login..."</h4><br>
      <form action ="/login/auth" method="post">
        <label>Username</label>
        <input type="text" name="username" placeholder="username"><br><br>
        <label>Password</label>
        <input type="password" name="password" placeholder="password"><br><br>
        <button type="submit" name="submit">Submit</button>
      </form>
  </body>
</html>
